body {
    color: green;
    font-family: verdana, Arial, Geneva, Arial Black;
    font-weight: lighter;
}
h1 {
    border: 1px solid black;
}
h2 {
    border-bottom: 1px solid black;
    font-weight: normal;
}
.blue-p {
    color: blue;
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
p.purple-p {
    color: purple;
    background-color: yellow;
    font-size: 16px;
    font-weight: bolder;
}
