body {
    color: green;
    font-family: verdana, Arial, Geneva, Arial Black;
    font-weight: lighter;
    background-color: bisque;
    font-size: 16px;
    margin: 20px;
}
h1 {
    border: 1px solid black;
    font-size: 150%;
}
h2 {
    border-bottom: 1px solid black;
    font-weight: normal;
    background-color: rgb(240, 28, 235);
    font-size: 1.1em;
}
h1, h2 {
    text-decoration: underline overline;
}
p.paraf1 {
    color: blue;
    background-color: yellow;
    font-weight: bold;
    text-decoration: line-through;
    font-style: oblique;
}

p.para2 {
    color: purple;
    background-color: #e5e4d7;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
}

p.para3 {
    background-color: #ffcf79;
    color: purple;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5em;
    padding: 20px;
    border-color: brown;
    border-width: 2px;
    border-style: solid;
}
